:root {
  --primary-color: #265847; /* Background color for body */
  --secondary-color: #ffedd2; /* Light cream color */
  --text-color: #808f85; /* Grayish text color */
  --button-border-color: #ffffff; /* White border for buttons */
  --button-bg-color: transparent; /* Transparent button background */
  --event-bg-color: rgba(36, 9, 9, 0.89); /* Background for event date */
  --image-bg-color: #0a1a143d; /* Transparent overlay for images */
  --navbar-bg-color: rgba(38, 88, 71, 0.9); /* Navbar background */
  --navbar-link-hover-color: #ddd; /* Hover color for navbar links */
  --select-bg-color: rgb(65, 3, 3); /* Background for language selector */
  --scrollbar-color: transparent; /* Scrollbar color */
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(circle, #265847, #112820, #265847);
}

h2 {
  font-family: "El Messiri", sans-serif;
  color: var(--secondary-color);
  font-size: 1.3rem;
}

h1 {
  font-family: "El Messiri", sans-serif;
  font-size: 1.6rem;
}

p {
  color: var(--text-color);
  font-size: 1rem;
}

section:not(.story, .hero) {
  padding: 20px;
  margin-bottom: 60px;
}

.hero {
  margin-bottom: 60px;
}

/*Hero screen*/
.hero {
  padding: 0;
}

#hero_screen {
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  padding: 0 50px 64px 50px;
  gap: 36px;
  height: 408px;
  background-image: url(../resources/hero\ image.png);
  background-size: cover;
  background-position: center top;
  position: relative;
}

#hero_screen h1 {
  color: var(--button-border-color);
  text-align: center;
}

#hero_screen button:not(#roundbutton) {
  font-size: 1rem;
  padding: 8px 24px;
  background-color: var(--button-bg-color);
  border-radius: 100px;
  color: var(--button-border-color);
  border: var(--button-border-color) solid 1px;
}

#roundbutton {
  height: 60px;
  width: 60px;
  background-color: #112820;
  border-radius: 100%;
  position: absolute;
  bottom: -30px;
  font-size: 1.5rem;
  color: var(--secondary-color);
  text-align: center;
  box-shadow: none;
  border: none;
}
/*Hero screen end*/

/*Soon events screen*/

.soon_events div {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
  gap: 8px;
}

.event_card {
  width: 100%;
  position: relative;
  margin-bottom: 4px;
}

@media (min-width: 480px) {
  .event_card {
    max-width: 390px; /* Single card per row on mobile */
  }
}

.event_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.4rem;
  font-family: "El Messiri", sans-serif;
  z-index: 2;
  backdrop-filter: brightness(0.5);
  padding: 4px 8px;
}

.soon_events button {
  font-size: 16px;
  padding: 8px 16px;
  background-color: var(--button-bg-color);
  border-radius: 100px;
  color: var(--button-border-color);
  border: var(--button-border-color) solid 1px;
  position: absolute;
  bottom: 12px;
  right: 12px;
}

#music_event_card {
  position: relative;
}

#music_event_card img {
  height: 262px;
  width: 100%;
  display: block;
  padding-top: 16px;
  object-fit: cover;
}

.event_date {
  position: absolute;
  top: 16px;
  left: 12px;
  background-color: var(--event-bg-color);
  color: var(--button-border-color);
  padding: 6px 12px;
  border-radius: 0 0 10px 10px;
  font-size: 14px;
  font-family: "El Messiri", sans-serif;
}

/*Soon events screen end*/

/* Menu Items */

.scroll_container {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.scroll_container::-webkit-scrollbar {
  display: none;
}

.menu_item {
  flex-shrink: 0;
  width: 260px;
}

.menu_item_description {
  display: flex;
  justify-content: space-between;
}

.menu_item_description h3 {
  color: var(--text-color);
}

.menu_item_description h4 {
  color: var(--secondary-color);
  margin-right: 8px;
}

.menu_item_img {
  width: 260px;
  height: 250px;
  background-color: var(--image-bg-color);
  object-fit: contain;
}

.favourites h2 {
  margin-bottom: 24px;
}

.favourites h3 {
  font-weight: 300;
}

.favourites_button {
  font-size: 16px;
  padding: 8px 16px;
  background-color: var(--button-bg-color);
  border-radius: 100px;
  color: var(--button-border-color);
  border: var(--button-border-color) solid 1px;
  position: absolute;
  bottom: 12px;
  right: 12px;
}

/* Story section styles */
.story {
  text-align: center;
  padding: 40px 0;
}

.carousel_container {
  position: relative;
  max-width: 100%;
  margin: 20px auto;
  overflow: hidden;
}

.carousel_slide {
  display: none;
  position: relative;
}

.carousel_slide img {
  width: 100%;
  height: 291px;
  object-fit: cover;
}

.carousel_slide.active {
  display: block;
}

.story_content p {
  margin: 0 20px;
}

/* Dots */
.carousel_dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel_dots .dot {
  height: 10px;
  width: 10px;
  margin: 0 4px;
  background-color: #17322b9b;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.carousel_dots .dot.active {
  background-color: #16342b;
  height: 16px;
  width: 16px;
  margin: 0 8px;
}

/* Bottom section styling */

.bottom-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.square {
  width: 50vw;
  height: 190px;
}

/* Facebook container styling */
#facebook-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@media (min-width: 768px) {
  .square {
    width: 50vw;
    height: 250px;
  }

  .carousel_slide img {
    height: 420px;
  }
}
