* {
  font-family: Arial, Helvetica, sans-serif;
  padding: none;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

#hero_screen {
  background-image: url(../resources/hero\ image.png);
  background-size: cover;
  background-position: center top;
}
