* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #265847;
}

h2 {
  font-family: "El Messiri", sans-serif;
  color: #ffedd2;
  font-size: 20px;
}

h1 {
  font-family: "El Messiri", sans-serif;
}

p {
  color: #808f85;
}

section {
    padding: 20px;
    margin-bottom: 60px;
}

/*Hero screen*/
.hero{
    padding: 0;
}

#hero_screen {
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  padding: 0 50px 64px 50px;
  gap: 36px;
  height: 408px;
  background-image: url(../resources/hero\ image.png);
  background-size: cover;
  background-position: center top;
  position: relative;
}

#hero_screen h1 {
  color: #ffffff;
  text-align: center;
}

#hero_screen button {
  font-size: 16px;
  padding: 8px 24px;
  background-color: transparent;
  border-radius: 100px;
  color: #ffffff;
  border: #ffffff solid 1px;
}
/*Hero screen end*/

/*Soon events screen*/

.soon_events button {
  font-size: 16px;
  padding: 8px 16px;
  background-color: transparent;
  border-radius: 100px;
  color: #ffffff;
  border: #ffffff solid 1px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#music_event_card {
  position: relative;
}

#music_event_card img {
  height: 262px;
  width: 100%;
  display: block;
}

.event_date {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

/*Soon events screen end*/

/* Menu Items */
  
.scroll_container {
display: flex;
gap: 10px; /* Adds spacing between the items */
overflow-x: auto; /* Enables horizontal scrolling */
padding-bottom: 10px; /* Adds some padding at the bottom */
}

.scroll_container::-webkit-scrollbar {
display: none; /* Optional: Hides the scrollbar */
}

.menu_item {
flex-shrink: 0; /* Prevents items from shrinking */
width: 260px;
}

.menu_item_description {
display: flex;
justify-content: space-between;
}

.menu_item_description h3 {
color: #808f85;
}

.menu_item_description h4 {
color: #FFEDD2;
}

.menu_item_img {
width: 260px;
height: 250px;
background-color: #0a1a143d;
}
  
