
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    line-height : 1.5;
    --primary-color: #265847; /* Background color for body */
    --secondary-color: #ffedd2; /* Light cream color */
    --text-color: #808f85; /* Grayish text color */
    --button-border-color: #ffffff; /* White border for buttons */
    --button-bg-color: transparent; /* Transparent button background */
    --event-bg-color: rgba(36, 9, 9, 0.89); /* Background for event date */
    --image-bg-color: #0a1a143d; /* Transparent overlay for images */
    --navbar-bg-color: rgba(38, 88, 71, 0.9); /* Navbar background */
    --navbar-link-hover-color: #ddd; /* Hover color for navbar links */
    --select-bg-color: rgb(65, 3, 3); /* Background for language selector */
    --scrollbar-color: transparent; /* Scrollbar color */
}

.body{
    background-image: url("../resources/menu_page_bck.png");
    background-repeat: repeat;
}

/*-----------Today's Special------------*/

.td-special-container{
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url("../resources/bck_special.png");
    height: 25vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
}

.td-special-container h1{
    font-family: El Messiri, sans-serif;
    position: relative;
    color: var(--secondary-color);
    top: 28%;
    left: 30%;
    font-size: 30px;
    text-shadow: 0 4px 4px rgba(0,0,0,0.6);
}
.td-special-box{
    display: flex;
    flex-direction: column;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    height: 40%;;
    width: 80%;
    top: 50%;
    left: 21%;
    padding: 10px 30px 10px 10px;
    border: 2px solid var(--secondary-color);
    border-radius: 16px 0px 0px 16px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
}

.td-special-box h2{
    position: relative;
    color: var(--secondary-color);
    font-size: 18px;
    text-shadow: 0 4px 4px rgba(0,0,0,0.6);
}
.td-special-box h3{
    position: relative;
    color: var(--secondary-color);
    font-size: 25px;
    left: 86%;
    top: -20%;
    text-shadow: 0 4px 4px rgba(0,0,0,0.6);
}
.td-special-box p{
    position: relative;
    color: var(--secondary-color);
    font-size: 12px;
    top: -65%;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
}

/*-----------Today's Special End------------*/

/*-----------Menu Items------------*/

.menu-section{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 20px;
}

.menu-elements{
    display: flex;
    flex-direction: column;
    gap: -10px;
}
.section-name-box{
    display: flex;
    flex-direction: column;
    position: relative;
    background: var(--secondary-color);
    height: 6%;;
    width: 40%;
    margin-top: 60px;
    margin-bottom: 10px;
    left: -1%;
    padding: 3px 1px 3px 1px;
    border-radius: 0px 20px 20px 0px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
    align-items: center;
}

.section-name-box h4{
    font-family: El Messiri, sans-serif;
    font-color: var(--primary-color);;
    font-size: 22px;
}

.line{
    position: absolute;
    height: 2px;
    width: 20%;
    background: var(--secondary-color);
    border-radius: 16px;
    margin-top: 79px;
    margin-left: 37%;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

.drink-image{
    position: relative;
    margin-top: -100px;
    left: 55%;
    height: 30%;
    width: 38%;
    object-fit: cover;
    object-position: 20% 20%;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
}

.menu-section li{
    margin-top: -45px;
    color: var(--secondary-color);
    font-size:13px;
}

.drinks{
    list-style-type: none;
    position: absolute;
    white-space:pre;
    margin-top: 30%;
    margin-left: 5%;
}

.price{
    list-style-type: none;
    position: absolute;
    white-space:pre;
    margin-top: 30%;
    margin-left: 40%;
}



/*-----------Menu Items End------------*/

/*-----------CROISSANT------------*/

.croissant-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 20px;
}

.croissant-container h1{
    font-family: El Messiri, sans-serif;
    text-wrap: wrap;
    margin-right: 50%;
    margin-left: 20px;
    margin-top: 20px;
    position: relative;
    color: var(--secondary-color);
    font-size: 18px;
    text-shadow: 0 4px 4px rgba(0,0,0,0.6);
}

.croissant-box{
    display: flex;
    flex-direction: column;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    height: 15%;
    width: 80%;
    left: -1%;
    padding: 10px 30px 10px 10px;
    border: 2px solid var(--secondary-color);
    border-radius: 0px 16px 16px 0px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
}

.croissant-img{
    position: relative;
    margin-top: -90px;
    left: 57%;
    height: 17%;
    width: 18%;
    object-fit: cover;
    object-position: 20% 20%;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
}

/*-----------CROISSANT END------------*/

/*-----------Reversed Menu Items------------*/

.section-name-box-reverse{
    display: flex;
    flex-direction: column;
    position: relative;
    background: var(--secondary-color);
    height: 6%;;
    width: 40%;
    margin-top: 60px;
    margin-bottom: 10px;
    margin-left: 61%;
    padding: 3px 1px 3px 1px;
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
    align-items: center;
}

.section-name-box-reverse h4{
    font-family: El Messiri, sans-serif;
    color: #112820;
    font-size: 22px;
}

.line-reverse{
    position: absolute;
    height: 2px;
    width: 20%;
    background: var(--secondary-color);
    border-radius: 16px;
    margin-top: 79px;
    margin-left: 43%;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3);
}

.drink-image-reverse{
    position: relative;
    margin-top: -100px;
    left: 8%;
    height: 30%;
    width: 38%;
    object-fit: cover;
    object-position: 20% 20%;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
}

.drinks-reverse{
    list-style-type: none;
    position: absolute;
    white-space:pre;
    margin-top: 30%;
    margin-left:56%;
}

.price-reverse{
    list-style-type: none;
    position: absolute;
    white-space:pre;
    margin-top: 30%;
    margin-left: 92%;
}

/*-----------Reversed Menu Items END------------*/

@media screen and (min-width: 768px){
    .td-special-container h1{
        font-size: 55px;
        top: 21%;
    }
    .td-special-box h2{
        font-size: 40px;
    }
    .td-special-box{
        padding: 2px 30px 10px 10px;
    }
    .td-special-box p{
        font-size: 15px;
        top: -90%;
    }
   .td-special-box h3{
        font-size: 40px;
        left: 40%;
        top: -60%
    }
   .menu-section li{
    font-size: 30px;
    }
    .price{
        margin-top: 10%
    }
    .drinks{
        margin-top: 10%
    }
    .price-reverse{
        margin-top: 10%
    }
    .drinks-reverse{
        margin-top: 10%
    }
    .croissant-box{
        height: 60%;
    }
    .croissant-img{
        margin-top: -11%;
    }
    .croissant-container h1{
        font-size: 50px;
        margin-top: 100px;
    }
}